<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Найстройки</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        	<nav>
            	<ul class="menu" >
					<li><a href="/">ГЛАВНАЯ</a></li>
					<li><a href="/Articles">ВИДЕОКАРТЫ</a></li>
                	<li><a href="/add_post">ДОБАВИТЬ ВИДЕОКАРТУ</a></li>
                	<li><a href="/delete_article">УДАЛИТЬ ВИДЕОКАРТУ</a></li>
           		 </ul>
        	</nav>
    </header>

		<main>
			{%block main%}
            {%endblock%}
		</main>

</body>
</html>